__pycache__/
*.pyc
.venv/
# Ne jamais versionner le coffre de mots de passe
*.vault
/coffre*
build/
dist/
*.spec
/SecretLin
# Fichiers créés pendant la construction du paquet .deb
debian/secretlin/
debian/.debhelper/
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/debhelper-build-stamp
debian/secretlin-*.png
