[Desktop Entry]
Type=Application
Name=SecretLin
Comment=Encrypted password manager
Comment[fr]=Gestionnaire de mots de passe chiffré
Exec=secretlin
Icon=secretlin
StartupWMClass=SecretLin
Terminal=false
Categories=Utility;Security;
Keywords=password;vault;
